
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <h1> First App</h1>
        <div class="product-info">
            <img src="img/qualquer.jpg" alt="Alternate Text" width="200" />
            <h3>Mug</h3>
            <ul class="product-props">
                <li>Preço: R$ 90,00</li>
                <li>Artista: Breno Thales</li>
                <li>Descrição: asdflasf asldfjaslfjsadfja asdlf</li>
            </ul>
            <button  class="btn btn-success" id="buyButton">Buy</button>
        </div>
        <div id="theForm"></div>
    </div>
    <div class="col-md-6">
        <p>Alguma Coisa</p>
    </div>
</div>