
@{
    ViewBag.Title = "Home Page";
}
<h1> First App</h1>
<div class="product-info">
    <img src="img/qualquer.jpg" alt="Alternate Text" />
    <h3>Mug</h3>
    <ul class="product-props">
        <li>Preço: R$ 90,00</li>
        <li>Artista: Breno Thales</li>
        <li>Descrição: asdflasf asldfjaslfjsadfja asdlf</li>
    </ul>
    <button id="buyButton">Buy</button>
</div>
<div id="theForm">

</div>